html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Bellota', system-ui;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */
.MAIN {
    position: relative;
    background: url(MAIN/Background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
    /* header */

.burger_menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 1001;
}

.burger_menu span {
    width: 100%;
    height: 3px;
    background-color: #fff; /* Цвет полосок */
    border-radius: 10px;
    transition: all 0.3s linear;
}


header {
    position: fixed;
    width: 100%;
    background: rgba(128, 128, 128, 0.1);
    backdrop-filter: blur(5px);

    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header_logoname {
    display: flex;
    width: 50%;
    padding-left: 2%;
    align-items: baseline;
    gap: 1%;
}

.header_logo {
    animation: fadeInUp 0.7s ease-out forwards;
    width: 5vh;
    height: 5vh;
}

.header_name {
    opacity: 0;
    animation: fadeInUp 0.7s ease-out 0.1s forwards;
    font-weight: bold;
    font-size: 4vh;
    color: white;
}

.nav {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 4vh;
    gap: 25px;
    padding-right: 5%;
}

.nav_link {
    position: relative;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

.nav_link.active {
    color:#ffa047
}

.nav_link.active::after {
    width: 100%; /* Линия под текстом остается на всю ширину */
}

.nav_link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.1vh;
    width: 0;
    height: 0.2vh;
    background-color: #ff9334;
    transition: 0.3s ease;
}

.nav_link:hover::after {
    width: 100%;
}

.nav_link:hover {
    color: #ffa047;
}

.nav_link:first-child {
    opacity: 0;
    animation: fadeInUp 0.7s ease-out 0.2s forwards;
}

.nav_link:nth-child(2) {
    opacity: 0;
    animation: fadeInUp 0.7s ease-out 0.3s forwards;
}

.nav_link:last-child {
    opacity: 0;
    animation: fadeInUp 0.7s ease-out 0.4s forwards;
}


    /* /header */

    /* main_text */
.main_text {
    animation: fadeInUp 1.2s ease-out forwards;

    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    padding-left: 45%;
    padding-top: 15%;
    line-height: 1;
}

.first-main_text {
    opacity: 0;
    animation: fadeInUp 1.2s ease-out 0.5s forwards;
    font-weight: 100;
    font-size: 6vh;
}

.second-main_text {
    line-height: 0.8;
    font-weight: bold;
    font-size: 17vh;
}

.third-main_text {
    opacity: 0;
    animation: fadeInUp 1.2s ease-out 0.5s forwards;
    font-size: 10vh;
    font-style: italic;
}

.main_button {
    transition: all .5s ease;
    font-size: 6vh;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #c78042;
    border: 3px solid #c78042 ;
    border-radius: 15px;
    margin-top: 10px;
    padding: 5px 15px;
    display: inline-block;
}

.button_animation {
    opacity: 0;
    animation: fadeInUp 1.2s ease-out 1s forwards;
}

.main_button:hover {
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-color: #c2732f;
    background-color: #c2732f;
    border-radius: 35px;
}

.fa-cart-shopping {
    padding-left: 10px;
}
    /* /main_text */

/* /MAIN */


/* MENU */

.MENU {
    position: relative;
    z-index: 1;         /* Слой выше, чем у MAIN */
    min-height: 100vh;
}

.buy_menu {
    color: white;
    display: flex;
    justify-content: center;
    gap: 60px 3%;
    padding: 5% 0;
    background: url(MENU/background.png);
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 100vh;
    align-items: stretch;
    flex-wrap: wrap;
}

.card {
    width: 20%;
    min-width: 250px;
    height: auto;
    background: rgba(174, 131, 84, 0.1);
    backdrop-filter: blur(5px);
    padding: 20px 15px;
    border: rgba(227, 147, 53, 0.4) solid 3px ;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.photo-container {
    position: relative;
    width: 90%;

    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}


.photo {
    width: 90%;

    transition: opacity 0.5s ease;
    margin-bottom: 5%;
}

.structure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    font-size: 3vh;
    color: #ffd2a3;
    opacity: 0;
    transition: opacity 0.5s ease;
}


.photo-container:hover .photo {
    opacity: 0;
}

.photo-container:hover .structure {
    opacity: 1;
}

.product_name {
    font-size: 4vh;
}

.buy_block {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_price {
    font-size: 5vh;
    font-weight: bold;
}

.buy_button {
    transition: all .5s ease;
    color: white;
    text-decoration: none;
    background-color: #e39335;
    border: #e39335 solid 0.7vh;
    border-radius: 0.5vh;
    font-size: 3vh;
    font-weight: bold;
    display: block;
}

.buy_button:hover {
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-color: #c2732f;
    background-color: #c2732f;
    border-radius: 35px;
}



/* /MENU */

/* footer */

    /* main-footer_blocks */

footer {
    position: relative;
    z-index: 3;
    padding-top: 5%;
    color: #363636;
    background-color: #aa7549;
}

.main-footer_blocks {
    display: flex;
    justify-content: center;
    gap: 3%;
    position: relative;
    padding-bottom: 30px;
}

.main-footer_blocks::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    left: 50%; 
    transform: translateX(-50%);
    bottom: 0;
    width: 90%;
    height: 3px;
    background-color: #c4956f;
    opacity: 100%;
}

.main-footer_text {
    width: 30%;
}

.footer_name {
    font-size: 7vh;
    margin-bottom: 2%;
    font-weight: bold;
}

.footer_text {
    font-size: 2vh;
    margin-bottom: 7%;
    font-weight: bold;
    font-style: italic;
}

.followers {
    position: relative;
    font-size: 3vh;
    padding-bottom: 2%;
    margin-bottom: 3%;
}

.followers::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #e4e4e4;
    opacity: 100%;
}

.follow {
    font-size: 2.5vh;
    text-decoration: none;
    margin-bottom: 6%;
}

.brand {
    text-decoration: none;
    color: #6b3b0d;
}


.subscribe {
    display: flex;
}



.mail {
    width: 40%;
    height: 5vh;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-right: 0;

    font-size: 2vh;
    color: #333;
    font-style: italic;
    font-weight: 300;
}

.mail::placeholder {
    color: #ccc;

}

.mail:focus {
    outline: 0;
    border-color: #c2732f;
}

.mail_btn {
    width: 100%;
    height: 5vh;
    border: 0;
    padding: 0 4vh;
    background-color: #c2732f;
    cursor: pointer;
    font-size: 2vh;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;

    transition: .2s;
}

.mail_btn:hover {
    background-color: #6b3b0d;
}

    /* /main-footer_blocks */

    /* Blogs */

.blogs {
    width: 30%;
}

.blogs_name {
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: 3%;
}

.footer_card {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 10%;
}


.blogs_img {
    width: 40%;
    border: 1px solid #ffa047;
}

.main-blogs_text {
    text-transform: uppercase;
    font-size: 2vh;
    margin-bottom: 3%;
}

.second-blogs_text {
    color: #6b3b0d;
    font-size: 2vh;
}

    /* /Blogs */

    /* Instagram */

.instagram {
    width: 30%;
}

.instagram_name {
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: 3%;
}

.instagram_img {
    display: flex;      
    flex-wrap: wrap;    
    gap: 5px;           
    width: 100%;        
}

.inst_photo {
    width: 32%;
    border: 1px solid #ffa047;
}

.inst_photo:nth-child(10) {
    display: none;
}


.inst_photo:nth-child(11) {
    display: none;
}

.inst_photo:nth-child(12) {
    display: none;
}

.inst_text {
    font-size: 1.7vh;
    text-decoration: none;
    color: #ffa047;
    margin-top: 1%;
}

    /* /Instagram */

.copiright {
    margin-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 2.5vh;
    font-style: italic;
}


/* /footer */

@keyframes fadeInUp {
    from {
        opacity: 0;            /* Полностью прозрачный */
        transform: translateY(30px); /* Смещен вниз на 30 пикселей */
    }
    to {
        opacity: 1;            /* Полностью видимый */
        transform: translateY(0);    /* Возвращается в исходную точку */
    }
}



@media (max-width: 1300px) {

    .main_text {
        padding-left: 0;
    }

    .MAIN {
    display: flex;
    justify-content: center;
    align-items: center;
    }


    .main-footer_blocks {
        flex-direction: column;
        padding-left: 3%;
    }

    .main-footer_text {
        width: 100%;
    }

    .blogs {
        width: 100%;
    }

    .footer_card {
        justify-content: left;
        gap: 2%;
        margin-bottom: 3%;
    }
    
    .blogs_img {
        width: 25%;
        max-width: 250px;
    }

    .blogs_text {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: flex-start; 
    }

    .instagram {
        width: 100%;
    }

    .inst_photo {
        width: 20%;
    }

    .inst_photo:nth-child(10) {
        display: flex;
    }

    .inst_photo:nth-child(11) {
       display: flex;
    }

    .inst_photo:nth-child(12) {
        display: flex;
    }

}


@media (max-width: 950px) {


    .header_logo {
    width: 30px;
    height: 30px;
}

.header_name {
    font-size: 25px;
}

.nav {
    font-size: 25px;
    gap: 15px;
    padding-right: 5%;
}

.main_text {
    padding-left: 0;
}

.first-main_text {
    font-size: 35px;
}

.second-main_text {
    font-size: 110px;
}

.third-main_text {
    font-size: 60px;
}


.main_button {
    font-size: 40px;
}


    .card {
    width: 32%;
    }
}


@media (max-width: 800px) {

    .main_text {
        width: 80%;
    }

    .buy_block {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
    }

    .buy_button {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }


    header {
        position: fixed;
        background: rgba(146, 84, 47, 0.9);
        backdrop-filter: blur(0px); 
        align-items: center;
    }

    .burger_menu {
        display: flex;
        margin-right: 3%;
    }



    
    .nav {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 100%;
        width: 100%;
        background: rgba(146, 84, 47, 0.9);
        padding: 10px 0;
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
        z-index: 1000;
    }

    
    .nav.open {
        display: flex;
        animation: slideDown 0.3s ease-out;
    }

    .nav_link {
        display: block;
        margin-left: 2%;
        text-align: flex-start;
        width: 100%;
    }

    .nav_link.active::after {
    width: 0%;
    }
    /* Анимация выпадания */
    @keyframes slideDown {
        from { opacity: 0; transform: translateY(-10px); }
        to { opacity: 1; transform: translateY(0); }
    }
}

@media (max-width: 600px) {

.main_text {
    padding-left: 0;
}

.first-main_text {
    font-size: 20px;
}

.second-main_text {
    font-size: 60px;
}

.third-main_text {
    font-size: 40px;
}


.main_button {
    font-size: 20px;
}
}

